# Copy this file to .env (DO NOT COMMIT the real .env)
# All vars here are PUBLIC once built (no secrets).

# Local development API base (your backend when running locally)
REACT_APP_API_BASE_URL=http://anvaiyatechnologies.tech

# Optional flag you can use inside the app
REACT_APP_ENV=development