@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-animated {
  background: radial-gradient(circle at 20% 30%, #4f46e5, transparent 25%),
              radial-gradient(circle at 80% 40%, #06b6d4, transparent 25%),
              radial-gradient(circle at 50% 80%, #f59e0b, transparent 25%);
  background-size: 200% 200%;
  animation: moveBackground 12s ease-in-out infinite alternate;
}

@keyframes moveBackground {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}


html, body {
  overflow-x: hidden;
}
